<form>
    <input type="text" name="phone" tabindex="1" placeholder="Send to Cell Phone Number">
    <input type="text" name="threshold" tabindex="2" placeholder="Set Threshold">
    <a href="#" class="submitBtn">Submit</a>
</form>

